<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>
    <add key="ConnectionString" value="server=bds262738419.my3w.com;database=bds262738419_db;uid=bds262738419;pwd=2017mrkdb;"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <!--<customErrors mode="On" defaultRedirect="Error.html">
      <error statusCode="404" redirect="Error.html"/>
      <error statusCode="405" redirect="Error.html"/>
      <error statusCode="500" redirect="Error.html"/>
    </customErrors>-->
  </system.web>
  <!--<system.webServer>
    <handlers>
      <add name="CarWeb_PostFile" path="*.jpg" verb="*" modules="ProtocolSupportModule" resourceType="Unspecified"/>
    </handlers>
  </system.webServer>-->
<!--阿里云伪静态-->
<system.webServer>
    <rewrite>
      <rules>
        <rule name="rule00" stopProcessing="true">
          <match url="^/?s=([\s\S]*)" />
          <action type="Rewrite" url="news/default.aspx?tag={R:1}" />
        </rule>
        <rule name="rule0" stopProcessing="true">
          <match url="^news/([0-9]+)" />
          <action type="Rewrite" url="news/Info.aspx?id={R:1}" />
        </rule>
        <rule name="rule1" stopProcessing="true">
          <match url="^news/page([0-9]+)" />
          <action type="Rewrite" url="news/default.aspx?pageindex={R:1}" />
        </rule>
        <rule name="rule2" stopProcessing="true">
          <match url="^tag/([\s\S]*)" />
          <action type="Rewrite" url="news/default.aspx?tag={R:1}" />
        </rule>
        <rule name="rule3" stopProcessing="true">
          <match url="^tag/([\s\S]*)_page([0-9]+)" />
          <action type="Rewrite" url="person/default.aspx?tag={R:1}&amp;pageindex={R:2}" />
       </rule> 
      
        <!--关于我们/投稿-->
    
      <rule name="rule100" stopProcessing="true">
          <match url="^aboutus" />
          <action type="Rewrite" url="about/aboutus.html" />
       </rule> 
        <rule name="rule101" stopProcessing="true">
          <match url="^ad" />
          <action type="Rewrite" url="about/ad.html" />
       </rule> 
        <rule name="rule102" stopProcessing="true">
          <match url="^speak" />
          <action type="Rewrite" url="about/speak.aspx" />
       </rule> 
        <rule name="rule103" stopProcessing="true">
          <match url="^team" />
          <action type="Rewrite" url="about/team.html" />
       </rule> 
     <rule name="rule104" stopProcessing="true">
          <match url="^tougao" />
          <action type="Rewrite" url="about/tougao.aspx" />
       </rule>
        <rule name="rule105" stopProcessing="true">
          <match url="^map" />
          <action type="Rewrite" url="about/map.html" />
        </rule>
      
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: {67D4EEBF-DBCD-417E-8507-B6F6547C7A55}-->